---
import Button from "./Button.astro";

const sitemap = [
  {
    label: "Home",
    href: "#home",
  },
  {
    label: "About",
    href: "#about",
  },
  {
    label: "Work",
    href: "#work",
  },
  {
    label: "Reviews",
    href: "#reviews",
  },
  {
    label: "Contact me",
    href: "#contact",
  },
];

const socials = [
  {
    label: "GitHub",
    href: "https://github.com/wolf2lyon",
  },
  {
    label: "Whatssap",
    href: "https://wa.me/51955422889",
  },
  {
    label: "Instagram",
    href: "https://www.instagram.com/codewithsadee",
  },
];
---

<footer class="section">
  <div class="container">
    <div class="lg:grid lg:grid-cols-2">
      <div class="mb-10">
        <h2 class="headline-1 mb-8 lg:max-w-[12ch] reveal-up">
          ¡Trabajemos juntos hoy!
        </h2>
        <Button
          href="https:wa.me/+51955422889"
          label="Empieza tu proyecto"
          icon="chevron_right"
          classes=" reveal-up"
        />
      </div>
      <div class="grid grid-cols-2 gap-4 lg:pl-20">
         <div class="">
          <div>
            <p class="mb-2 reveal-up">Sitemap</p>
            <ul>
              {
                sitemap.map(({ label, href }) => (
                  <li>
                    <a href={href} class="block text-sm text-zinc-400 py-1 transition-colors hover:text-zinc-200 reveal-up">
                      {label}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="">
          <div>
            <p class="mb-2 reveal-up">Socials</p>
            <ul>
              {
                socials.map(({ label, href }) => (
                  <li>
                    <a href={href} class="block text-sm text-zinc-400 py-1 transition-colors hover:text-zinc-200 reveal-up" target="_blank">
                      {label}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between pt-10 mb-8">
      <a href="" class="logo reveal-up">
        <img src="/src/assets/logo.svg" width={40} height={40} alt="Logo" />
      </a>
      <p class="text-zinc-500 text-sm reveal-up">
        &copy; 2025 <span class="text-zinc-200"> wolf2lyon</span>
      </p>
    </div>
  </div>
</footer>
