---
import SkillCard from "./SkillCard.astro";
const skillItem = [
  {
    imgSrc: "/src/assets/figma.svg",
    label: "Figma",
    desc: "Design tool",
  },
  {
    imgSrc: "/src/assets/css3.svg",
    label: "CSS",
    desc: "User Interface",
  },
  {
    imgSrc: "/src/assets/javascript.svg",
    label: "JavaScript",
    desc: "Interaction",
  },
  {
    imgSrc: "/src/assets/astro.svg",
    label: "Astro",
    desc: "Framework",
  },
  {
    imgSrc: "/src/assets/wordpress.svg",
    label: "Wordpress",
    desc: "CMS",
  },
  {
    imgSrc: "/src/assets/woocommerce.svg",
    label: "WooCommerce",
    desc: "Ecommerce",
  },
  {
    imgSrc: "/src/assets/html.svg",
    label: "HTML",
    desc: "Estructure",
  },
  {
    imgSrc: "/src/assets/tailwindcss.svg",
    label: "TailwindCSS",
    desc: "User Interface",
  },
];
---

<section class="section">
  <div class="container">
    <h2 class="headline-2 reveal-up">Herramientas esenciales que utilizo</h2>
    <p class="text-zinc-400 mt-3 mb-8 max-w-[58ch] reveal-up">
      Descubra las poderosas herramientas y tecnologías que uso para crear sitios web excepcionales y de alto rendimiento.
    </p>
    <div class="grid gap-3 grid-cols-[repeat(auto-fill,_minmax(258px,_1fr))]">
      {
        skillItem.map(({ imgSrc, label, desc }) => (
          <SkillCard imgSrc={imgSrc} label={label} desc={desc} classes="reveal-up" />
        ))
      }
    </div>
  </div>
</section>
