---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scrollbar-thin scrollbar-track-zinc-800 scrollbar-thumb-zinc-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shorcut icon"
      type="image/svg+xml"
      href="/src/assets/favicon.svg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap"
      rel="stylesheet"
    />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu_close_download_arrow_downward_arrow_outward_star_chevron_right" />
    <meta name="generator" content={Astro.generator} />
    <title>Wolf2Lyon Dev</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
	padding: 0;
  }
</style>
